






.pageTextLogin {

    text-align: center;
    margin-top: 3%;
    background: none;
    border: none;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
    color: inherit;
    cursor: pointer;
    transition: color 0.3s ease; /* Add a smooth color transition */

    
  }
  
  .submitButtonn:hover {
    color: rgb(104, 104, 108); /* Change the color on hover */
  }
  




.createUserButtonn {
    
    box-shadow: 0 0 30px rgba(0,0,0,0.5);

}

.first-button {
    background: none;
    border: none;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
    color: inherit;
    cursor: pointer;
    transition: color 0.3s ease; /* Add a smooth color transition */
    
  }
/* TextButton.css */
.text-buttonn {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  margin-left: 3%;
  font-size: inherit;
  font-family: inherit;
  color: inherit;
  cursor: pointer;
  transition: color 0.3s ease; /* Add a smooth color transition */
  
}

.text-buttonn:hover {
  color: blue; /* Change the color on hover */
}

.button-containerr {
  display: flex; /* To make the buttons flex horizontally */
  gap: 3%; /* Adjust the value to control the space between buttons */
  background: #d9d2d2;
  margin: auto;
  width: 50%;
}

.cardBodyTopBarr {
  background: #d9d2d2;
  margin: auto;
  width: 100%;
  
}


