


/* login form style */
.form {
    text-align: center;
    position: relative;
    top: 20px;

}

/* vertaa sales cards   */
.vertaaSalesCardGroup {
    position: relative;
    top: 70px;

}



/* page text style */

.pageText {
    position: relative;
    top: 15px;
}














